 * {
    margin: 0;
 }


 /* body {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
background: whitesmoke
} */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin: 0 auto;
    width: 100%;
    background-color: #FB6F92;
    font-family: archivo;
    height: 100%;
}

.menubar {
    padding-bottom: 18px;
    text-decoration: none; 
    text-align: right;
    list-style-type: none;
}


.menubar li {
display: inline-block;
position: relative;
}

/* basic styling for the a items */
.menubar a {
    display: block;
    min-width: 130px;
    cursor: pointer;
    text-align: center;
    background: #FB6F92;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    padding: 0.5rem 0;
    color: #495057;
    font-family: "Montserrat", sans-serif;
    text-decoration: none; 
}

/* changing the background color of a elements when they are hovered over or tabbed/clicked onto */
.menubar a:hover,
.menubar a:focus {
    background: #FFB3C6;
    color: black;
    text-decoration: underline;
    display:block;
}

.menulink {
    color: white;
    text-decoration: none;
}


.dropdown {
    display: none;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
}


.menubar li:hover .dropdown {
    display: block;
}

.dropdown-item {
    background-color: pink;
    display: block;
    margin-top: 1px;
}


/* changing the text color of an a element in the dropdown menu when the li containing it is hovered over */
.dropdown-item:hover .menulink {
    color: white;
}




.footer{
    display: flex;
    height: 100%;
    width:100%;
}

.footer-svg{
    width: 20px;
    flex-direction: flex-start;
}


/* fonts used in the project */

.comic-neue-regular,p, nav {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}




/* ===== Adopt & Foster page ===== */

.adopt-foster {
  padding: 1.5rem 1rem 2rem;
  max-width: 60rem;
  margin: 0 auto;
}

.adopt-foster h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.adopt-foster p {
  margin-bottom: 0.75rem;
}


.adopt-form {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #FFE5EC; 
  border-radius: 0.75rem;
}

.adopt-form fieldset {
  border: none;
  padding: 0;
}

.adopt-form legend {
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ced4da;
  font: inherit;
}


.btn-primary {
  background-color: #FB6F92; 
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  font-weight: 700;
  cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #FFB3C6;
  color: black;
  outline: 2px solid #495057;
  outline-offset: 2px;
}