 * {
    margin: 0;
 }


 /* body {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
background: whitesmoke
} */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin: 0 auto;
    width: 100%;
    background-color: #FB6F92;
    font-family: archivo;
    height: 100%;
}

.menubar {
    padding-bottom: 18px;
    text-decoration: none; 
    text-align: right;
    list-style-type: none;
}


.menubar li {
display: inline-block;
position: relative;
}

/* basic styling for the a items */
.menubar a {
    display: block;
    min-width: 130px;
    cursor: pointer;
    text-align: center;
    background: #FB6F92;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    padding: 0.5rem 0;
    color: #495057;
    font-family: "Montserrat", sans-serif;
    text-decoration: none; 
}

/* changing the background color of a elements when they are hovered over or tabbed/clicked onto */
.menubar a:hover,
.menubar a:focus {
    background: #FFB3C6;
    color: black;
    text-decoration: underline;
    display:block;
}

.menulink {
    color: white;
    text-decoration: none;
}


.dropdown {
    display: none;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
}


.menubar li:hover .dropdown {
    display: block;
}

.dropdown-item {
    background-color: pink;
    display: block;
    margin-top: 1px;
}


/* changing the text color of an a element in the dropdown menu when the li containing it is hovered over */
.dropdown-item:hover .menulink {
    color: white;
}




/* fonts used in the project -- for all pages*/

.comic-neue-regular,p, nav {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}



/* ===== Index/home page ===== */
.home-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-cat-pic{
    justify-content: center;
}

.home-intro{
    align-self: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Mission-title{
    text-align: center;
}


.buttons-container{
    border: 1px solid blueviolet;


}


/* ===== Adopt & Foster page ===== */

.adopt-foster {
  padding: 1.5rem 1rem 2rem;
  max-width: 60rem;
  margin: 0 auto;
}

.adopt-foster h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.adopt-foster p {
  margin-bottom: 0.75rem;
}


.adopt-form {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #FFE5EC; 
  border-radius: 0.75rem;
}

.adopt-form fieldset {
  border: none;
  padding: 0;
}

.adopt-form legend {
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ced4da;
  font: inherit;
}


.btn-primary {
  background-color: #FB6F92; 
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  font-weight: 700;
  cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #FFB3C6;
  color: black;
  outline: 2px solid #495057;
  outline-offset: 2px;
}

/* Volunteer page */
main{
  grid-area: content;
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

.main-photo{
  width: 100%;
  max-width: 500px;
  border-radius: 6px;
}










/* ===== Meet me/ Gallery page ===== */

h1{
    text-align: center;
    padding: 30px;
}


body{
    background-color: #FFE5EC;
}

.gallery-container {
    padding: 20px;
}

.gallery-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 25px;
    background: #FFB3C6;
}

.gallery-photo {
    width: 300px;
    height: 270px;
    object-fit: cover;
    border: 2px solid black;
    align-self: center;
}

.cat-info {
    flex: 1;
}

.cat-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* 
.cat-gender {
    font-size: 1rem;
    color: #495057;
} */

.cat-about {
    line-height: 1.5;
}


.disclaimer-section{
    /* display: flex; */
    background-color: white;
    /* flex-direction: column; */
    text-align: center;
    gap: 20px;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.disclaimer-title{
    color: red;
    font-weight: bold;
}

.disclaimer{
    color: red;
}




/* ------This footer is currently used for the home, gallery adn adopt page --------------*/

footer{
    display: inline-block;
    gap: 10px;
    text-align: end; 
    height: 100%;
    width:100%;
    background-color: #FB6F92;
    justify-content: space-between;
    /* border-top: 2px solid black; */
}
/* how to make the text go to the end??? */


.footer-svg{
    align-items: start;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid black;
    margin-left: 30px;
}

.footer-img{
    width: 100px;
    height:100px;
}

.contact-info-for-footer{
    align-items: center; 
    margin-right: 30px;
    margin-bottom: 50px;
}





/* RESPONSIVE for all (what it would look like as desktop) */
@media screen and (min-width: 600px) {

    /* stuuf for gallery page */

    h1{
        border: 2px dotted grey ;
        border-radius: 20px;
    }
    
    .gallery-card {
        display: inline-block;
        /* flex-direction: column; */
        gap: 10px;
        border: 2px solid black;
        padding: 20px;
        margin-bottom: 25px;
        background: #FFB3C6;
        width: 30%;
    }

    .gallery-photo {
        width: 300px;
        height: 270px;
        object-fit: cover;
        border: 2px solid black;
    }





    /* stuuf for Home page */






    /*  for adopt page */





    /*  for Volunteer page */


}