body {
font-family: "Comic Neue", "Delius";
font-size: 18px;
} 

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFE5EC;
}


nav {
    /* display: flex;
    flex-direction: column; */
    margin: 0 auto;
    width: 100%;
    background-color: #FB6F92;
    font-family: archivo;
    height: 100%;

}

.menubar {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    text-decoration: none; 
    text-align: right;
    list-style-type: none;
}


.menubar li {
display: inline-block;
position: relative;
}

/* basic styling for the a items */
.menubar a {
    display: block;
    min-width: 130px;
    cursor: pointer;
    text-align: center;
    background: #FB6F92;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    padding: 0.5rem 0;
    color: #495057;
    font-family: "Montserrat", sans-serif;
    text-decoration: none; 
}

/* changing the background color of a elements when they are hovered over or tabbed/clicked onto */
.menubar a:hover,
.menubar a:focus {
    background: #FFB3C6;
    color: black;
    text-decoration: underline;
    display:block;
}

.menulink {
    color: white;
    text-decoration: none;
}


.dropdown {
    display: none;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
}


.menubar li:hover .dropdown {
    display: block;
}

.dropdown-item {
    background-color: pink;
    display: block;
    margin-top: 1px;
}


/* changing the text color of an a element in the dropdown menu when the li containing it is hovered over */
.dropdown-item:hover .menulink {
    color: white;
}




/* fonts used in the project -- for all pages*/

.comic-neue-regular,p, nav {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}



/* ===== Index/home page ===== */
.home-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-cat-pic{
    justify-content: center;
}

.home-intro{
    align-self: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#the-purpose{
    margin-left: 20px;
    margin-right:20px;
}

.Mission-title{
    text-align: center;
}

.buttons-container{
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 2;
    gap:20px;
    background-color: #FFB3C6;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.button-one{
    grid-row: 1;
    grid-column: 1/3;
    /* justify-self: center; */
    background-color: #FF8FAB;
    border-radius: 500px;
    /* padding-left: 0px;
    padding-right: 0px; */
    padding-top: 30px;
    padding-bottom:30px;
    margin-left: 20px;
    margin-right:20px;
}

.button-two{
    grid-column: 1;
    grid-row: 2;
    background-color: #FF8FAB;
    border-radius: 50px;
    padding: 20px;
    margin-left: 20px;
    margin-right:20px;
}

.button-three{
    grid-column: 2;
    grid-row: 2;
    background-color: #FF8FAB;
    border-radius: 50px;
    padding: 20px;
    margin-left: 20px;
    margin-right:20px;
}



/* ===== Adopt/Foster contact form ===== */

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}

#contact-form {
  background-color: #FFE5EC;
  padding: 1.5rem;
  border-radius: 0.75rem;
}

#contact-form h3 {
  text-align: center;
  margin-bottom: 1rem;
}

#contact-form label {
  display: block;
  font-weight: 600;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
}

#contact-form input,
#contact-form textarea,
#contact-form select {
  width: 100%;
  padding: 6px;
  border: 1px solid #ced4da;
  border-radius: 6px;
}

#contact-form button {
  margin-top: 1rem;
  background-color: #FB6F92;
  color: white;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-weight: 700;
}

#contact-form button:hover {
  background-color: #FF8FAB;
  color: black;
}

.adopt-foster {
  max-width: 800px;      
  margin: 0 auto;        
  padding: 1.5rem 1rem;  
}

.adopt-foster h1, 
.adopt-foster h2 {
  margin-bottom: 0.75rem;
}

.adopt-foster p {
  margin-bottom: 1rem;
  line-height: 1.5;
}





/* ===== Meet me/ Gallery page ===== */

h1{
    text-align: center;
    padding: 30px;
}

.gallery-container {
    padding: 20px;
    /* padding-top: 30px;
    padding-bottom: 30px; */
}

.gallery-cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 25px;
    background: #FFB3C6;
}

.gallery-photo {
    width: 300px;
    height: 270px;
    object-fit: cover;
    border: 2px solid black;
    align-self: center;
}

.cat-info {
    flex: 1;
    line-height: 1;
}

.disclaimer-section{
    background-color: white;
    text-align: center;
    gap: 20px;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
    color: red;
}

.disclaimer-title{
    color: red;
    font-weight: bold;
}




/* ------This footer is currently used for the home, gallery and adopt page --------------*/

footer{
    display: grid;
    grid-template-columns: 2;
    gap: 10px;
    text-align: center; 
    height: 100%;
    width:100%;
    background-color: #FB6F92;
    /* justify-content: space-between; */
    padding-top: 50px;
}

.footer-svg{
    grid-column: 1;
    justify-self: auto;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid black;
    margin-left: 30px;
}

.footer-img{
    justify-items: center;
    width: 100px;
    height:100px;
}

.contact-info-for-footer{
    grid-column: 2;
    align-items: center; 
    margin-right: 30px;
    margin-bottom: 50px;
}



/* ===== Volunteer page ===== */
.volunteer-section 
{ background: #FB6F92; 
  padding: 2rem; 
  border-radius: 7px; } 

.container-volunteer{ 
  background-color: #FB6F92; 
  border-radius: 10px; 
  /*height: 270px; */
  margin: 0 auto; 
  padding: 1rem; 
  text-align: center; 
  width: 100%;
max-width: 500px;} 


.volunteer-opportunities-title{
  margin-top:3rem;
  margin-bottom:3rem;
  text-align:center;
  border-radius: 7px;
  background-color: #FFE5EC;
  padding: 1rem 0;
}

.volunteer-opportunities-title h1{
  margin-top:0;
  margin-bottom:0;
  text-align:center;
  padding: 1rem 0;
}
  
.volunteer-photo{ 
  object-fit: cover; 
    border: 2px solid black; 
    width: 100%; 
    height: auto; 
    border-radius: 2px; }

.volunteer-events-title{
  background-color: #FB6F92;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
/* event cards */ 
.volunteer-event-section{
  background: #FFE5EC; 
  padding: 2rem; 
  border-radius: 7px; 
}

.container-event{ 
  padding: 20px;
}

.volunteer-event-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  border: #FFE5EC;
  padding: 20px;
  margin-bottom: 20px;
  background-color:#FB6F92;
  border-radius: 10px;
}

.volunteer-event-card img {
  align-self: center;
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
}









/* Volunteer page */
/*main{
  grid-area: content;
  padding: 1rem;
  display: grid;
  gap: 1rem;
}*/ 




/* RESPONSIVE for all (what it would look like as desktop) */
@media screen and (min-width: 700px) {

    /* stuuf for gallery page */

    h1{
        border-radius: 20px;
    }

    .gallery-container{
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 1;
    }
    
    .gallery-cards {
        /* display: inline-block; */
        /* flex-direction: column; */
        display: grid;
        grid-template-rows: 1;
        grid-template-columns: 3;
        gap: 60px;
        border: 2px solid black;
        padding: 20px;
        margin-bottom: 25px;
        background: #FFB3C6;
        width: 97%;
    }

    .gallery-photo {
        width: 300px;
        height: 270px;
        object-fit: cover;
        border: 2px solid black;
    }

    .gallery-card-one{
        grid-row: 1;
        grid-column: 1;
    }

    .gallery-card-two{
        grid-row: 1;
        grid-column: 2;
    }

    .gallery-card-three{
        grid-row: 1;
        grid-column: 3;
    }

    
.menubar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 10px;
    text-decoration: none; 
    text-align: right;
    list-style-type: none;
}
footer{
    text-align: end; 

}
    
    /* nav {
        margin: 0 auto;
        width: 100%;
        background-color: #FB6F92;
        font-family: archivo;
        height: 100%; */






    /* stuuf for Home page */






    /*  for adopt page */





    /*  for Volunteer page */

  .volunteer-event-card {
    flex-direction: row;
    align-items: center;
  }
    .volunteer-event-card img {
    width: 160px;
    height: auto;
  }


}