 * {
    margin: 0;
 }


 /* body {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
background: whitesmoke
} */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin: 0 auto;
    width: 100%;
    background-color: #FB6F92;
    font-family: archivo;
    height: 100%;
}

.menubar {
    padding-bottom: 18px;
    text-decoration: none; 
    text-align: right;
    list-style-type: none;
}


.menubar li {
display: inline-block;
position: relative;
}

/* basic styling for the a items */
.menubar a {
    display: block;
    min-width: 130px;
    cursor: pointer;
    text-align: center;
    background: #FB6F92;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    padding: 0.5rem 0;
    color: #495057;
    font-family: "Montserrat", sans-serif;
    text-decoration: none; 
}

/* changing the background color of a elements when they are hovered over or tabbed/clicked onto */
.menubar a:hover,
.menubar a:focus {
    background: #FFB3C6;
    color: black;
    text-decoration: underline;
    display:block;
}

.menulink {
    color: white;
    text-decoration: none;
}


.dropdown {
    display: none;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
}


.menubar li:hover .dropdown {
    display: block;
}

.dropdown-item {
    background-color: pink;
    display: block;
    margin-top: 1px;
}


/* changing the text color of an a element in the dropdown menu when the li containing it is hovered over */
.dropdown-item:hover .menulink {
    color: white;
}




.footer{
    display: flex;
    height: 100%;
    width:100%;
}

.footer-svg{
    width: 20px;
    flex-direction: flex-start;
}


/* fonts used in the project */

.comic-neue-regular,p, nav {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}




